*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/ttcp/build
/huawei_api/build
/huawei_api/dependencies/*/build
/latency_test/intermediate
/latency_test/build/*.VC.db
/latency_test/bin